html, body { margin: 0 auto;}
h1, h2, h3, h4, h5, p, ul, li { margin: 0;}
* { box-sizing: border-box; }

/*     db        88 88    88888888ba,                          88                                  
      d88b       88 88    88      `"8b                         ""                                  
     d8'`8b      88 88    88        `8b                                                            
    d8'  `8b     88 88    88         88  ,adPPYba, 8b       d8 88  ,adPPYba,  ,adPPYba, ,adPPYba,  
   d8YaaaaY8b    88 88    88         88 a8P_____88 `8b     d8' 88 a8"     "" a8P_____88 I8[    ""  
  d8""""""""8b   88 88    88         8P 8PP"""""""  `8b   d8'  88 8b         8PP"""""""  `"Y8ba,   
 d8'        `8b  88 88    88      .a8P  "8b,   ,aa   `8b,d8'   88 "8a,   ,aa "8b,   ,aa aa    ]8I  
d8'          `8b 88 88    88888888Y"'    `"Ybbd8"'     "8"     88  `"Ybbd8"'  `"Ybbd8"' `"YbbdP*/
.wr-valign-top,     .wr-valign-topR *,     .wr-valign-top1 > *     { vertical-align: top; }
.wr-valign-middle,  .wr-valign-middleR *,  .wr-valign-middle1 > *  { vertical-align: middle; }
.wr-valign-bottom,  .wr-valign-bottomR *,  .wr-valign-bottom1 > *  { vertical-align: bottom; }
.wr-display-block,  .wr-display-blockR *,  .wr-display-block1 > *  { display: block; }
.wr-display-inline, .wr-display-inlineR *, .wr-display-inline1 > * { display: inline-block; }
.wr-display-table,  .wr-display-tableR *,  .wr-display-table1 > *  { display: table; }
.wr-display-none, .wr-lg-display, .wr-md-display, .wr-sm-display { display: none; }
.wr-width-per0,  .wr-display-inline1>.wr-width0,  .wr-display-inlineR .wr-width0  { width: 0%;   }
.wr-width-per1,  .wr-display-inline1>.wr-width1,  .wr-display-inlineR .wr-width1  { width: 1%;   }
.wr-width-per2,  .wr-display-inline1>.wr-width2,  .wr-display-inlineR .wr-width2  { width: 2%;   }
.wr-width-per3,  .wr-display-inline1>.wr-width3,  .wr-display-inlineR .wr-width3  { width: 3%;   }
.wr-width-per4,  .wr-display-inline1>.wr-width4,  .wr-display-inlineR .wr-width4  { width: 4%;   }
.wr-width-per5,  .wr-display-inline1>.wr-width5,  .wr-display-inlineR .wr-width5  { width: 5%;   }
.wr-width-per6,  .wr-display-inline1>.wr-width6,  .wr-display-inlineR .wr-width6  { width: 6%;   }
.wr-width-per7,  .wr-display-inline1>.wr-width7,  .wr-display-inlineR .wr-width7  { width: 7%;   }
.wr-width-per8,  .wr-display-inline1>.wr-width8,  .wr-display-inlineR .wr-width8  { width: 8%;   }
.wr-width-per9,  .wr-display-inline1>.wr-width9,  .wr-display-inlineR .wr-width9  { width: 9%;   }
.wr-width-per10, .wr-display-inline1>.wr-width10, .wr-display-inlineR .wr-width10 { width: 10%;  }
.wr-width-per15, .wr-display-inline1>.wr-width15, .wr-display-inlineR .wr-width15 { width: 15%;  }
.wr-width-per20, .wr-display-inline1>.wr-width20, .wr-display-inlineR .wr-width20 { width: 20%;  }
.wr-width-per25, .wr-display-inline1>.wr-width25, .wr-display-inlineR .wr-width25 { width: 25%;  }
.wr-width-per30, .wr-display-inline1>.wr-width30, .wr-display-inlineR .wr-width30 { width: 30%;  }
.wr-width-per35, .wr-display-inline1>.wr-width35, .wr-display-inlineR .wr-width35 { width: 35%;  }
.wr-width-per40, .wr-display-inline1>.wr-width40, .wr-display-inlineR .wr-width40 { width: 40%;  }
.wr-width-per45, .wr-display-inline1>.wr-width45, .wr-display-inlineR .wr-width45 { width: 45%;  }
.wr-width-per50, .wr-display-inline1>.wr-width50, .wr-display-inlineR .wr-width50 { width: 50%;  }
.wr-width-per55, .wr-display-inline1>.wr-width55, .wr-display-inlineR .wr-width55 { width: 55%;  }
.wr-width-per60, .wr-display-inline1>.wr-width60, .wr-display-inlineR .wr-width60 { width: 60%;  }
.wr-width-per65, .wr-display-inline1>.wr-width65, .wr-display-inlineR .wr-width65 { width: 65%;  }
.wr-width-per70, .wr-display-inline1>.wr-width70, .wr-display-inlineR .wr-width70 { width: 70%;  }
.wr-width-per75, .wr-display-inline1>.wr-width75, .wr-display-inlineR .wr-width75 { width: 75%;  }
.wr-width-per80, .wr-display-inline1>.wr-width80, .wr-display-inlineR .wr-width80 { width: 80%;  }
.wr-width-per85, .wr-display-inline1>.wr-width85, .wr-display-inlineR .wr-width85 { width: 85%;  }
.wr-width-per90, .wr-display-inline1>.wr-width90, .wr-display-inlineR .wr-width90 { width: 90%;  }
.wr-width-per95, .wr-display-inline1>.wr-width95, .wr-display-inlineR .wr-width95 { width: 95%;  }
.wr-width-per,   .wr-display-inline1>.wr-width,   .wr-display-inlineR .wr-width   { width: 100%; }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(1), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(1) ~ * { width: 100%;            }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(2), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(2) ~ * { width: 50%;             }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(3), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(3) ~ * { width: calc(100% / 3);  }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(4), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(4) ~ * { width: 25%;             }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(5), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(5) ~ * { width: 20%;             }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(6), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(6) ~ * { width: calc(100% / 6);  }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(7), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(7) ~ * { width: calc(100% / 7);  }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(8), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(8) ~ * { width: 12.5%;           }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(9), .wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(9) ~ * { width: calc(100% / 9);  }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(10),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(10)~ * { width: 10%;             }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(11),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(11)~ * { width: calc(100% / 11); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(12),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(12)~ * { width: calc(100% / 12); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(13),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(13)~ * { width: calc(100% / 13); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(14),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(14)~ * { width: calc(100% / 14); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(15),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(15)~ * { width: calc(100% / 15); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(16),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(16)~ * { width: 6.25%;           }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(17),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(17)~ * { width: calc(100% / 17); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(18),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(18)~ * { width: calc(100% / 18); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(19),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(19)~ * { width: calc(100% / 19); }
.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(20),.wr-display-inline1.wr-widthauto>*:first-child:nth-last-child(20)~ * { width: 5%;              }
.wr-left   { margin-right: 100%; } .wr-center   { margin-left: 50%;   margin-right: 50%;   } .wr-right   { margin-left: 100%; }
.wr-left1  { margin-right: 99%;  } .wr-center1  { margin-left: 49.5%; margin-right: 49.5%; } .wr-right1  { margin-left: 99%;  }
.wr-left2  { margin-right: 98%;  } .wr-center2  { margin-left: 49%;   margin-right: 49%;   } .wr-right2  { margin-left: 98%;  }
.wr-left3  { margin-right: 97%;  } .wr-center3  { margin-left: 48.5%; margin-right: 48.5%; } .wr-right3  { margin-left: 97%;  }
.wr-left4  { margin-right: 96%;  } .wr-center4  { margin-left: 48%;   margin-right: 48%;   } .wr-right4  { margin-left: 96%;  }
.wr-left5  { margin-right: 95%;  } .wr-center5  { margin-left: 47.5%; margin-right: 47.5%; } .wr-right5  { margin-left: 95%;  }
.wr-left6  { margin-right: 94%;  } .wr-center6  { margin-left: 47%;   margin-right: 47%;   } .wr-right6  { margin-left: 94%;  }
.wr-left7  { margin-right: 93%;  } .wr-center7  { margin-left: 46.5%; margin-right: 46.5%; } .wr-right7  { margin-left: 93%;  }
.wr-left8  { margin-right: 92%;  } .wr-center8  { margin-left: 46%;   margin-right: 46%;   } .wr-right8  { margin-left: 92%;  }
.wr-left9  { margin-right: 91%;  } .wr-center9  { margin-left: 45.5%; margin-right: 45.5%; } .wr-right9  { margin-left: 91%;  }
.wr-left10 { margin-right: 90%;  } .wr-center10 { margin-left: 45%;   margin-right: 45%;   } .wr-right10 { margin-left: 90%;  }
.wr-left11 { margin-right: 89%;  } .wr-center11 { margin-left: 44.5%; margin-right: 44.5%; } .wr-right11 { margin-left: 89%;  }
.wr-left12 { margin-right: 88%;  } .wr-center12 { margin-left: 44%;   margin-right: 44%;   } .wr-right12 { margin-left: 88%;  }
.wr-left13 { margin-right: 87%;  } .wr-center13 { margin-left: 43.5%; margin-right: 43.5%; } .wr-right13 { margin-left: 87%;  }
.wr-left14 { margin-right: 86%;  } .wr-center14 { margin-left: 43%;   margin-right: 43%;   } .wr-right14 { margin-left: 86%;  }
.wr-left15 { margin-right: 85%;  } .wr-center15 { margin-left: 42.5%; margin-right: 42.5%; } .wr-right15 { margin-left: 85%;  }
.wr-left20 { margin-right: 80%;  } .wr-center20 { margin-left: 40%;   margin-right: 40%;   } .wr-right20 { margin-left: 80%;  }
.wr-left25 { margin-right: 75%;  } .wr-center25 { margin-left: 37.5%; margin-right: 37.5%; } .wr-right25 { margin-left: 75%;  }
.wr-left30 { margin-right: 70%;  } .wr-center30 { margin-left: 35%;   margin-right: 35%;   } .wr-right30 { margin-left: 70%;  }
.wr-left35 { margin-right: 65%;  } .wr-center35 { margin-left: 32.5%; margin-right: 32.5%; } .wr-right35 { margin-left: 65%;  }
.wr-left40 { margin-right: 60%;  } .wr-center40 { margin-left: 30%;   margin-right: 30%;   } .wr-right40 { margin-left: 60%;  }
.wr-left45 { margin-right: 55%;  } .wr-center45 { margin-left: 27.5%; margin-right: 27.5%; } .wr-right45 { margin-left: 55%;  }
.wr-left50 { margin-right: 50%;  } .wr-center50 { margin-left: 25%;   margin-right: 25%;   } .wr-right50 { margin-left: 50%;  }
.wr-left55 { margin-right: 45%;  } .wr-center55 { margin-left: 22.5%; margin-right: 22.5%; } .wr-right55 { margin-left: 45%;  }
.wr-left60 { margin-right: 40%;  } .wr-center60 { margin-left: 20%;   margin-right: 20%;   } .wr-right60 { margin-left: 40%;  }
.wr-left65 { margin-right: 35%;  } .wr-center65 { margin-left: 17.5%; margin-right: 17.5%; } .wr-right65 { margin-left: 35%;  }
.wr-left70 { margin-right: 30%;  } .wr-center70 { margin-left: 15%;   margin-right: 15%;   } .wr-right70 { margin-left: 30%;  }
.wr-left75 { margin-right: 25%;  } .wr-center75 { margin-left: 12.5%; margin-right: 12.5%; } .wr-right75 { margin-left: 25%;  }
.wr-left80 { margin-right: 20%;  } .wr-center80 { margin-left: 10%;   margin-right: 10%;   } .wr-right80 { margin-left: 20%;  }
.wr-left85 { margin-right: 15%;  } .wr-center85 { margin-left: 7.5%;  margin-right: 7.5%;  } .wr-right85 { margin-left: 15%;  }
.wr-left90 { margin-right: 10%;  } .wr-center90 { margin-left: 5%;    margin-right: 5%;    } .wr-right90 { margin-left: 10%;  }
.wr-left95 { margin-right: 5%;   } .wr-center95 { margin-left: 2.5%;  margin-right: 2.5%;  } .wr-right95 { margin-left: 5%;   }
input[type="checkbox"].wr-discover:not(:checked) ~ * { display: none;  }
.wr-position-fixed { position: fixed; }
.wr-barfull-top    { position: fixed; width: 100%; top: 0;    }
.wr-barfull-bottom { position: fixed; width: 100%; bottom: 0; }
.wr-baraside-right { position: fixed; height: 100%; right: 0; }
.wr-baraside-left  { position: fixed; height: 100%; left: 0;  }
.wr-txt-left,   .wr-txt-leftR *,   .wr-txt-left1 >*    { text-align: left;   }
.wr-txt-center, .wr-txt-centerR *, .wr-txt-center1 > * { text-align: center; }
.wr-txt-right,  .wr-txt-rightR *,  .wr-txt-right1 > *  { text-align: right;  }

/*                                                                         
88                                  ,d                                      
88                                  88                                      
88          ,adPPYYba, 8b,dPPYba, MM88MMM ,adPPYba,  8b,dPPYba,  ,adPPYba,  
88          ""     `Y8 88P'    "8a  88   a8"     "8a 88P'    "8a I8[    ""  
88          ,adPPPPP88 88       d8  88   8b       d8 88       d8  `"Y8ba,   
88          88,    ,88 88b,   ,a8"  88,  "8a,   ,a8" 88b,   ,a8" aa    ]8I  
88888888888 `"8bbdP"Y8 88`YbbdP"'   "Y888 `"YbbdP"'  88`YbbdP"'  `"YbbdP"'  
                       88                            88                     
                       88                            */
@media (min-width: 993px){
.wr-lg-valign-top,     .wr-lg-valign-topR *,     .wr-lg-valign-top1 > *     { vertical-align: top; }
.wr-lg-valign-middle,  .wr-lg-valign-middleR *,  .wr-lg-valign-middle1 > *  { vertical-align: middle; }
.wr-lg-valign-bottom,  .wr-lg-valign-bottomR *,  .wr-lg-valign-bottom1 > *  { vertical-align: bottom; }
.wr-lg-display-block,  .wr-lg-display-blockR *,  .wr-lg-display-block1 > *  { display: block; }
.wr-lg-display-inline, .wr-lg-display-inlineR *, .wr-lg-display-inline1 > * { display: inline-block; }
.wr-lg-display-table,  .wr-lg-display-tableR *,  .wr-lg-display-table1 > *  { display: table; }
.wr-lg-display { display: initial; }
.wr-lg-width-per0,  .wr-lg-display-inline1>.wr-width0,  .wr-lg-display-inlineR .wr-width0  { width: 0%;   }
.wr-lg-width-per1,  .wr-lg-display-inline1>.wr-width1,  .wr-lg-display-inlineR .wr-width1  { width: 1%;   }
.wr-lg-width-per2,  .wr-lg-display-inline1>.wr-width2,  .wr-lg-display-inlineR .wr-width2  { width: 2%;   }
.wr-lg-width-per3,  .wr-lg-display-inline1>.wr-width3,  .wr-lg-display-inlineR .wr-width3  { width: 3%;   }
.wr-lg-width-per4,  .wr-lg-display-inline1>.wr-width4,  .wr-lg-display-inlineR .wr-width4  { width: 4%;   }
.wr-lg-width-per5,  .wr-lg-display-inline1>.wr-width5,  .wr-lg-display-inlineR .wr-width5  { width: 5%;   }
.wr-lg-width-per6,  .wr-lg-display-inline1>.wr-width6,  .wr-lg-display-inlineR .wr-width6  { width: 6%;   }
.wr-lg-width-per7,  .wr-lg-display-inline1>.wr-width7,  .wr-lg-display-inlineR .wr-width7  { width: 7%;   }
.wr-lg-width-per8,  .wr-lg-display-inline1>.wr-width8,  .wr-lg-display-inlineR .wr-width8  { width: 8%;   }
.wr-lg-width-per9,  .wr-lg-display-inline1>.wr-width9,  .wr-lg-display-inlineR .wr-width9  { width: 9%;   }
.wr-lg-width-per10, .wr-lg-display-inline1>.wr-width10, .wr-lg-display-inlineR .wr-width10 { width: 10%;  }
.wr-lg-width-per15, .wr-lg-display-inline1>.wr-width15, .wr-lg-display-inlineR .wr-width15 { width: 15%;  }
.wr-lg-width-per20, .wr-lg-display-inline1>.wr-width20, .wr-lg-display-inlineR .wr-width20 { width: 20%;  }
.wr-lg-width-per25, .wr-lg-display-inline1>.wr-width25, .wr-lg-display-inlineR .wr-width25 { width: 25%;  }
.wr-lg-width-per30, .wr-lg-display-inline1>.wr-width30, .wr-lg-display-inlineR .wr-width30 { width: 30%;  }
.wr-lg-width-per35, .wr-lg-display-inline1>.wr-width35, .wr-lg-display-inlineR .wr-width35 { width: 35%;  }
.wr-lg-width-per40, .wr-lg-display-inline1>.wr-width40, .wr-lg-display-inlineR .wr-width40 { width: 40%;  }
.wr-lg-width-per45, .wr-lg-display-inline1>.wr-width45, .wr-lg-display-inlineR .wr-width45 { width: 45%;  }
.wr-lg-width-per50, .wr-lg-display-inline1>.wr-width50, .wr-lg-display-inlineR .wr-width50 { width: 50%;  }
.wr-lg-width-per55, .wr-lg-display-inline1>.wr-width55, .wr-lg-display-inlineR .wr-width55 { width: 55%;  }
.wr-lg-width-per60, .wr-lg-display-inline1>.wr-width60, .wr-lg-display-inlineR .wr-width60 { width: 60%;  }
.wr-lg-width-per65, .wr-lg-display-inline1>.wr-width65, .wr-lg-display-inlineR .wr-width65 { width: 65%;  }
.wr-lg-width-per70, .wr-lg-display-inline1>.wr-width70, .wr-lg-display-inlineR .wr-width70 { width: 70%;  }
.wr-lg-width-per75, .wr-lg-display-inline1>.wr-width75, .wr-lg-display-inlineR .wr-width75 { width: 75%;  }
.wr-lg-width-per80, .wr-lg-display-inline1>.wr-width80, .wr-lg-display-inlineR .wr-width80 { width: 80%;  }
.wr-lg-width-per85, .wr-lg-display-inline1>.wr-width85, .wr-lg-display-inlineR .wr-width85 { width: 85%;  }
.wr-lg-width-per90, .wr-lg-display-inline1>.wr-width90, .wr-lg-display-inlineR .wr-width90 { width: 90%;  }
.wr-lg-width-per95, .wr-lg-display-inline1>.wr-width95, .wr-lg-display-inlineR .wr-width95 { width: 95%;  }
.wr-lg-width-per,   .wr-lg-display-inline1>.wr-width,   .wr-lg-display-inlineR .wr-width   { width: 100%; }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(1), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(1) ~ * { width: 100%;            }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(2), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(2) ~ * { width: 50%;             }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(3), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(3) ~ * { width: calc(100% / 3);  }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(4), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(4) ~ * { width: 25%;             }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(5), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(5) ~ * { width: 20%;             }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(6), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(6) ~ * { width: calc(100% / 6);  }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(7), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(7) ~ * { width: calc(100% / 7);  }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(8), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(8) ~ * { width: 12.5%;           }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(9), .wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(9) ~ * { width: calc(100% / 9);  }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(10),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(10)~ * { width: 10%;             }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(11),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(11)~ * { width: calc(100% / 11); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(12),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(12)~ * { width: calc(100% / 12); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(13),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(13)~ * { width: calc(100% / 13); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(14),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(14)~ * { width: calc(100% / 14); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(15),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(15)~ * { width: calc(100% / 15); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(16),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(16)~ * { width: 6.25%;           }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(17),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(17)~ * { width: calc(100% / 17); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(18),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(18)~ * { width: calc(100% / 18); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(19),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(19)~ * { width: calc(100% / 19); }
.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(20),.wr-lg-display-inline1.wr-widthauto>*:first-child:nth-last-child(20)~ * { width: 5%;              }
.wr-lg-left   { margin-right: 100%; } .wr-lg-center   { margin-left: 50%;   margin-right: 50%;   } .wr-lg-right   { margin-left: 100%; }
.wr-lg-left1  { margin-right: 99%;  } .wr-lg-center1  { margin-left: 49.5%; margin-right: 49.5%; } .wr-lg-right1  { margin-left: 99%;  }
.wr-lg-left2  { margin-right: 98%;  } .wr-lg-center2  { margin-left: 49%;   margin-right: 49%;   } .wr-lg-right2  { margin-left: 98%;  }
.wr-lg-left3  { margin-right: 97%;  } .wr-lg-center3  { margin-left: 48.5%; margin-right: 48.5%; } .wr-lg-right3  { margin-left: 97%;  }
.wr-lg-left4  { margin-right: 96%;  } .wr-lg-center4  { margin-left: 48%;   margin-right: 48%;   } .wr-lg-right4  { margin-left: 96%;  }
.wr-lg-left5  { margin-right: 95%;  } .wr-lg-center5  { margin-left: 47.5%; margin-right: 47.5%; } .wr-lg-right5  { margin-left: 95%;  }
.wr-lg-left6  { margin-right: 94%;  } .wr-lg-center6  { margin-left: 47%;   margin-right: 47%;   } .wr-lg-right6  { margin-left: 94%;  }
.wr-lg-left7  { margin-right: 93%;  } .wr-lg-center7  { margin-left: 46.5%; margin-right: 46.5%; } .wr-lg-right7  { margin-left: 93%;  }
.wr-lg-left8  { margin-right: 92%;  } .wr-lg-center8  { margin-left: 46%;   margin-right: 46%;   } .wr-lg-right8  { margin-left: 92%;  }
.wr-lg-left9  { margin-right: 91%;  } .wr-lg-center9  { margin-left: 45.5%; margin-right: 45.5%; } .wr-lg-right9  { margin-left: 91%;  }
.wr-lg-left10 { margin-right: 90%;  } .wr-lg-center10 { margin-left: 45%;   margin-right: 45%;   } .wr-lg-right10 { margin-left: 90%;  }
.wr-lg-left11 { margin-right: 89%;  } .wr-lg-center11 { margin-left: 44.5%; margin-right: 44.5%; } .wr-lg-right11 { margin-left: 89%;  }
.wr-lg-left12 { margin-right: 88%;  } .wr-lg-center12 { margin-left: 44%;   margin-right: 44%;   } .wr-lg-right12 { margin-left: 88%;  }
.wr-lg-left13 { margin-right: 87%;  } .wr-lg-center13 { margin-left: 43.5%; margin-right: 43.5%; } .wr-lg-right13 { margin-left: 87%;  }
.wr-lg-left14 { margin-right: 86%;  } .wr-lg-center14 { margin-left: 43%;   margin-right: 43%;   } .wr-lg-right14 { margin-left: 86%;  }
.wr-lg-left15 { margin-right: 85%;  } .wr-lg-center15 { margin-left: 42.5%; margin-right: 42.5%; } .wr-lg-right15 { margin-left: 85%;  }
.wr-lg-left20 { margin-right: 80%;  } .wr-lg-center20 { margin-left: 40%;   margin-right: 40%;   } .wr-lg-right20 { margin-left: 80%;  }
.wr-lg-left25 { margin-right: 75%;  } .wr-lg-center25 { margin-left: 37.5%; margin-right: 37.5%; } .wr-lg-right25 { margin-left: 75%;  }
.wr-lg-left30 { margin-right: 70%;  } .wr-lg-center30 { margin-left: 35%;   margin-right: 35%;   } .wr-lg-right30 { margin-left: 70%;  }
.wr-lg-left35 { margin-right: 65%;  } .wr-lg-center35 { margin-left: 32.5%; margin-right: 32.5%; } .wr-lg-right35 { margin-left: 65%;  }
.wr-lg-left40 { margin-right: 60%;  } .wr-lg-center40 { margin-left: 30%;   margin-right: 30%;   } .wr-lg-right40 { margin-left: 60%;  }
.wr-lg-left45 { margin-right: 55%;  } .wr-lg-center45 { margin-left: 27.5%; margin-right: 27.5%; } .wr-lg-right45 { margin-left: 55%;  }
.wr-lg-left50 { margin-right: 50%;  } .wr-lg-center50 { margin-left: 25%;   margin-right: 25%;   } .wr-lg-right50 { margin-left: 50%;  }
.wr-lg-left55 { margin-right: 45%;  } .wr-lg-center55 { margin-left: 22.5%; margin-right: 22.5%; } .wr-lg-right55 { margin-left: 45%;  }
.wr-lg-left60 { margin-right: 40%;  } .wr-lg-center60 { margin-left: 20%;   margin-right: 20%;   } .wr-lg-right60 { margin-left: 40%;  }
.wr-lg-left65 { margin-right: 35%;  } .wr-lg-center65 { margin-left: 17.5%; margin-right: 17.5%; } .wr-lg-right65 { margin-left: 35%;  }
.wr-lg-left70 { margin-right: 30%;  } .wr-lg-center70 { margin-left: 15%;   margin-right: 15%;   } .wr-lg-right70 { margin-left: 30%;  }
.wr-lg-left75 { margin-right: 25%;  } .wr-lg-center75 { margin-left: 12.5%; margin-right: 12.5%; } .wr-lg-right75 { margin-left: 25%;  }
.wr-lg-left80 { margin-right: 20%;  } .wr-lg-center80 { margin-left: 10%;   margin-right: 10%;   } .wr-lg-right80 { margin-left: 20%;  }
.wr-lg-left85 { margin-right: 15%;  } .wr-lg-center85 { margin-left: 7.5%;  margin-right: 7.5%;  } .wr-lg-right85 { margin-left: 15%;  }
.wr-lg-left90 { margin-right: 10%;  } .wr-lg-center90 { margin-left: 5%;    margin-right: 5%;    } .wr-lg-right90 { margin-left: 10%;  }
.wr-lg-left95 { margin-right: 5%;   } .wr-lg-center95 { margin-left: 2.5%;  margin-right: 2.5%;  } .wr-lg-right95 { margin-left: 5%;   }
input[type="checkbox"].wr-lg-discover:not(:checked) ~ * { display: none; }
.wr-lg-position-fixed { position: fixed; }
.wr-lg-barfull-top    { position: fixed; width: 100%; top: 0;    }
.wr-lg-barfull-bottom { position: fixed; width: 100%; bottom: 0; }
.wr-lg-baraside-right { position: fixed; height: 100%; right: 0; }
.wr-lg-baraside-left  { position: fixed; height: 100%; left: 0;  }
.wr-lg-txt-left,   .wr-lg-txt-leftR *,   .wr-lg-txt-left1 > *   { text-align: left;   }
.wr-lg-txt-center, .wr-lg-txt-centerR *, .wr-lg-txt-center1 > * { text-align: center; }
.wr-lg-txt-right,  .wr-lg-txt-rightR *,  .wr-lg-txt-right1 >*   { text-align: right;  }
}

/*888888888       88          88                               
     88            88          88              ,d               
     88            88          88              88               
     88 ,adPPYYba, 88,dPPYba,  88  ,adPPYba, MM88MMM ,adPPYba,  
     88 ""     `Y8 88P'    "8a 88 a8P_____88   88    I8[    ""  
     88 ,adPPPPP88 88       d8 88 8PP"""""""   88     `"Y8ba,   
     88 88,    ,88 88b,   ,a8" 88 "8b,   ,aa   88,   aa    ]8I  
     88 `"8bbdP"Y8 8Y"Ybbd8"'  88  `"Ybbd8"'   "Y888 `"YbbdP*/
@media (min-width: 769px) and (max-width: 992px){
.wr-md-valign-top,     .wr-md-valign-topR *,     .wr-md-valign-top1 > *     { vertical-align: top; }
.wr-md-valign-middle,  .wr-md-valign-middleR *,  .wr-md-valign-middle1 > *  { vertical-align: middle; }
.wr-md-valign-bottom,  .wr-md-valign-bottomR *,  .wr-md-valign-bottom1 > *  { vertical-align: bottom; }
.wr-md-display-block,  .wr-md-display-blockR *,  .wr-md-display-block1 > *  { display: block; }
.wr-md-display-inline, .wr-md-display-inlineR *, .wr-md-display-inline1 > * { display: inline-block; }
.wr-md-display-table,  .wr-md-display-tableR *,  .wr-md-display-table1 > *  { display: table; }
.wr-md-display { display: initial; }
.wr-md-width-per0,  .wr-md-display-inline1>.wr-width0,  .wr-md-display-inlineR .wr-width0  { width: 0%;   }
.wr-md-width-per1,  .wr-md-display-inline1>.wr-width1,  .wr-md-display-inlineR .wr-width1  { width: 1%;   }
.wr-md-width-per2,  .wr-md-display-inline1>.wr-width2,  .wr-md-display-inlineR .wr-width2  { width: 2%;   }
.wr-md-width-per3,  .wr-md-display-inline1>.wr-width3,  .wr-md-display-inlineR .wr-width3  { width: 3%;   }
.wr-md-width-per4,  .wr-md-display-inline1>.wr-width4,  .wr-md-display-inlineR .wr-width4  { width: 4%;   }
.wr-md-width-per5,  .wr-md-display-inline1>.wr-width5,  .wr-md-display-inlineR .wr-width5  { width: 5%;   }
.wr-md-width-per6,  .wr-md-display-inline1>.wr-width6,  .wr-md-display-inlineR .wr-width6  { width: 6%;   }
.wr-md-width-per7,  .wr-md-display-inline1>.wr-width7,  .wr-md-display-inlineR .wr-width7  { width: 7%;   }
.wr-md-width-per8,  .wr-md-display-inline1>.wr-width8,  .wr-md-display-inlineR .wr-width8  { width: 8%;   }
.wr-md-width-per9,  .wr-md-display-inline1>.wr-width9,  .wr-md-display-inlineR .wr-width9  { width: 9%;   }
.wr-md-width-per10, .wr-md-display-inline1>.wr-width10, .wr-md-display-inlineR .wr-width10 { width: 10%;  }
.wr-md-width-per15, .wr-md-display-inline1>.wr-width15, .wr-md-display-inlineR .wr-width15 { width: 15%;  }
.wr-md-width-per20, .wr-md-display-inline1>.wr-width20, .wr-md-display-inlineR .wr-width20 { width: 20%;  }
.wr-md-width-per25, .wr-md-display-inline1>.wr-width25, .wr-md-display-inlineR .wr-width25 { width: 25%;  }
.wr-md-width-per30, .wr-md-display-inline1>.wr-width30, .wr-md-display-inlineR .wr-width30 { width: 30%;  }
.wr-md-width-per35, .wr-md-display-inline1>.wr-width35, .wr-md-display-inlineR .wr-width35 { width: 35%;  }
.wr-md-width-per40, .wr-md-display-inline1>.wr-width40, .wr-md-display-inlineR .wr-width40 { width: 40%;  }
.wr-md-width-per45, .wr-md-display-inline1>.wr-width45, .wr-md-display-inlineR .wr-width45 { width: 45%;  }
.wr-md-width-per50, .wr-md-display-inline1>.wr-width50, .wr-md-display-inlineR .wr-width50 { width: 50%;  }
.wr-md-width-per55, .wr-md-display-inline1>.wr-width55, .wr-md-display-inlineR .wr-width55 { width: 55%;  }
.wr-md-width-per60, .wr-md-display-inline1>.wr-width60, .wr-md-display-inlineR .wr-width60 { width: 60%;  }
.wr-md-width-per65, .wr-md-display-inline1>.wr-width65, .wr-md-display-inlineR .wr-width65 { width: 65%;  }
.wr-md-width-per70, .wr-md-display-inline1>.wr-width70, .wr-md-display-inlineR .wr-width70 { width: 70%;  }
.wr-md-width-per75, .wr-md-display-inline1>.wr-width75, .wr-md-display-inlineR .wr-width75 { width: 75%;  }
.wr-md-width-per80, .wr-md-display-inline1>.wr-width80, .wr-md-display-inlineR .wr-width80 { width: 80%;  }
.wr-md-width-per85, .wr-md-display-inline1>.wr-width85, .wr-md-display-inlineR .wr-width85 { width: 85%;  }
.wr-md-width-per90, .wr-md-display-inline1>.wr-width90, .wr-md-display-inlineR .wr-width90 { width: 90%;  }
.wr-md-width-per95, .wr-md-display-inline1>.wr-width95, .wr-md-display-inlineR .wr-width95 { width: 95%;  }
.wr-md-width-per,   .wr-md-display-inline1>.wr-width,   .wr-md-display-inlineR .wr-width   { width: 100%; }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(1), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(1) ~ * { width: 100%;            }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(2), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(2) ~ * { width: 50%;             }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(3), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(3) ~ * { width: calc(100% / 3);  }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(4), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(4) ~ * { width: 25%;             }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(5), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(5) ~ * { width: 20%;             }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(6), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(6) ~ * { width: calc(100% / 6);  }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(7), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(7) ~ * { width: calc(100% / 7);  }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(8), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(8) ~ * { width: 12.5%;           }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(9), .wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(9) ~ * { width: calc(100% / 9);  }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(10),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(10)~ * { width: 10%;             }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(11),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(11)~ * { width: calc(100% / 11); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(12),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(12)~ * { width: calc(100% / 12); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(13),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(13)~ * { width: calc(100% / 13); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(14),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(14)~ * { width: calc(100% / 14); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(15),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(15)~ * { width: calc(100% / 15); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(16),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(16)~ * { width: 6.25%;           }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(17),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(17)~ * { width: calc(100% / 17); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(18),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(18)~ * { width: calc(100% / 18); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(19),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(19)~ * { width: calc(100% / 19); }
.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(20),.wr-md-display-inline1.wr-widthauto>*:first-child:nth-last-child(20)~ * { width: 5%;              }
.wr-md-left   { margin-right: 100%; } .wr-md-center   { margin-left: 50%;   margin-right: 50%;   } .wr-md-right   { margin-left: 100%; }
.wr-md-left1  { margin-right: 99%;  } .wr-md-center1  { margin-left: 49.5%; margin-right: 49.5%; } .wr-md-right1  { margin-left: 99%;  }
.wr-md-left2  { margin-right: 98%;  } .wr-md-center2  { margin-left: 49%;   margin-right: 49%;   } .wr-md-right2  { margin-left: 98%;  }
.wr-md-left3  { margin-right: 97%;  } .wr-md-center3  { margin-left: 48.5%; margin-right: 48.5%; } .wr-md-right3  { margin-left: 97%;  }
.wr-md-left4  { margin-right: 96%;  } .wr-md-center4  { margin-left: 48%;   margin-right: 48%;   } .wr-md-right4  { margin-left: 96%;  }
.wr-md-left5  { margin-right: 95%;  } .wr-md-center5  { margin-left: 47.5%; margin-right: 47.5%; } .wr-md-right5  { margin-left: 95%;  }
.wr-md-left6  { margin-right: 94%;  } .wr-md-center6  { margin-left: 47%;   margin-right: 47%;   } .wr-md-right6  { margin-left: 94%;  }
.wr-md-left7  { margin-right: 93%;  } .wr-md-center7  { margin-left: 46.5%; margin-right: 46.5%; } .wr-md-right7  { margin-left: 93%;  }
.wr-md-left8  { margin-right: 92%;  } .wr-md-center8  { margin-left: 46%;   margin-right: 46%;   } .wr-md-right8  { margin-left: 92%;  }
.wr-md-left9  { margin-right: 91%;  } .wr-md-center9  { margin-left: 45.5%; margin-right: 45.5%; } .wr-md-right9  { margin-left: 91%;  }
.wr-md-left10 { margin-right: 90%;  } .wr-md-center10 { margin-left: 45%;   margin-right: 45%;   } .wr-md-right10 { margin-left: 90%;  }
.wr-md-left11 { margin-right: 89%;  } .wr-md-center11 { margin-left: 44.5%; margin-right: 44.5%; } .wr-md-right11 { margin-left: 89%;  }
.wr-md-left12 { margin-right: 88%;  } .wr-md-center12 { margin-left: 44%;   margin-right: 44%;   } .wr-md-right12 { margin-left: 88%;  }
.wr-md-left13 { margin-right: 87%;  } .wr-md-center13 { margin-left: 43.5%; margin-right: 43.5%; } .wr-md-right13 { margin-left: 87%;  }
.wr-md-left14 { margin-right: 86%;  } .wr-md-center14 { margin-left: 43%;   margin-right: 43%;   } .wr-md-right14 { margin-left: 86%;  }
.wr-md-left15 { margin-right: 85%;  } .wr-md-center15 { margin-left: 42.5%; margin-right: 42.5%; } .wr-md-right15 { margin-left: 85%;  }
.wr-md-left20 { margin-right: 80%;  } .wr-md-center20 { margin-left: 40%;   margin-right: 40%;   } .wr-md-right20 { margin-left: 80%;  }
.wr-md-left25 { margin-right: 75%;  } .wr-md-center25 { margin-left: 37.5%; margin-right: 37.5%; } .wr-md-right25 { margin-left: 75%;  }
.wr-md-left30 { margin-right: 70%;  } .wr-md-center30 { margin-left: 35%;   margin-right: 35%;   } .wr-md-right30 { margin-left: 70%;  }
.wr-md-left35 { margin-right: 65%;  } .wr-md-center35 { margin-left: 32.5%; margin-right: 32.5%; } .wr-md-right35 { margin-left: 65%;  }
.wr-md-left40 { margin-right: 60%;  } .wr-md-center40 { margin-left: 30%;   margin-right: 30%;   } .wr-md-right40 { margin-left: 60%;  }
.wr-md-left45 { margin-right: 55%;  } .wr-md-center45 { margin-left: 27.5%; margin-right: 27.5%; } .wr-md-right45 { margin-left: 55%;  }
.wr-md-left50 { margin-right: 50%;  } .wr-md-center50 { margin-left: 25%;   margin-right: 25%;   } .wr-md-right50 { margin-left: 50%;  }
.wr-md-left55 { margin-right: 45%;  } .wr-md-center55 { margin-left: 22.5%; margin-right: 22.5%; } .wr-md-right55 { margin-left: 45%;  }
.wr-md-left60 { margin-right: 40%;  } .wr-md-center60 { margin-left: 20%;   margin-right: 20%;   } .wr-md-right60 { margin-left: 40%;  }
.wr-md-left65 { margin-right: 35%;  } .wr-md-center65 { margin-left: 17.5%; margin-right: 17.5%; } .wr-md-right65 { margin-left: 35%;  }
.wr-md-left70 { margin-right: 30%;  } .wr-md-center70 { margin-left: 15%;   margin-right: 15%;   } .wr-md-right70 { margin-left: 30%;  }
.wr-md-left75 { margin-right: 25%;  } .wr-md-center75 { margin-left: 12.5%; margin-right: 12.5%; } .wr-md-right75 { margin-left: 25%;  }
.wr-md-left80 { margin-right: 20%;  } .wr-md-center80 { margin-left: 10%;   margin-right: 10%;   } .wr-md-right80 { margin-left: 20%;  }
.wr-md-left85 { margin-right: 15%;  } .wr-md-center85 { margin-left: 7.5%;  margin-right: 7.5%;  } .wr-md-right85 { margin-left: 15%;  }
.wr-md-left90 { margin-right: 10%;  } .wr-md-center90 { margin-left: 5%;    margin-right: 5%;    } .wr-md-right90 { margin-left: 10%;  }
.wr-md-left95 { margin-right: 5%;   } .wr-md-center95 { margin-left: 2.5%;  margin-right: 2.5%;  } .wr-md-right95 { margin-left: 5%;   }
input[type="checkbox"].wr-md-discover:not(:checked) ~ * { display: none; }
.wr-md-position-fixed { position: fixed; }
.wr-md-barfull-top    { position: fixed; width: 100%; top: 0;    }
.wr-md-barfull-bottom { position: fixed; width: 100%; bottom: 0; }
.wr-md-baraside-right { position: fixed; height: 100%; right: 0; }
.wr-md-baraside-left  { position: fixed; height: 100%; left: 0;  }
.wr-md-txt-left,   .wr-md-txt-leftR *,   .wr-md-txt-left1 > *   { text-align: left;   }
.wr-md-txt-center, .wr-md-txt-centerR *, .wr-md-txt-center1 > * { text-align: center; }
.wr-md-txt-right,  .wr-md-txt-rightR *,  .wr-md-txt-right1 > *  { text-align: right;  }
}

/*            d88             88          88 88                       
888b         d888             88          "" 88                       
88`8b       d8'88             88             88                       
88 `8b     d8' 88  ,adPPYba,  88,dPPYba,  88 88  ,adPPYba, ,adPPYba,  
88  `8b   d8'  88 a8"     "8a 88P'    "8a 88 88 a8P_____88 I8[    ""  
88   `8b d8'   88 8b       d8 88       d8 88 88 8PP"""""""  `"Y8ba,   
88    `888'    88 "8a,   ,a8" 88b,   ,a8" 88 88 "8b,   ,aa aa    ]8I  
88     `8'     88  `"YbbdP"'  8Y"Ybbd8"'  88 88  `"Ybbd8"' `"YbbdP*/
@media (max-width: 768px){
.wr-sm-valign-top,     .wr-sm-valign-topR *,     .wr-sm-valign-top1 > *     { vertical-align: top; }
.wr-sm-valign-middle,  .wr-sm-valign-middleR *,  .wr-sm-valign-middle1 > *  { vertical-align: middle; }
.wr-sm-valign-bottom,  .wr-sm-valign-bottomR *,  .wr-sm-valign-bottom1 > *  { vertical-align: bottom; }
.wr-sm-display-block,  .wr-sm-display-blockR *,  .wr-sm-display-block1 > *  { display: block; }
.wr-sm-display-inline, .wr-sm-display-inlineR *, .wr-sm-display-inline1 > * { display: inline-block; }
.wr-sm-display-table,  .wr-sm-display-tableR *,  .wr-sm-display-table1 > *  { display: table; }
.wr-sm-display { display: initial; }
.wr-sm-width-per0, .wr-sm-display-inline1>.wr-width0,  .wr-sm-display-inlineR .wr-width0  { width: 0%;   }
.wr-sm-width-per1, .wr-sm-display-inline1>.wr-width1,  .wr-sm-display-inlineR .wr-width1  { width: 1%;   }
.wr-sm-width-per2, .wr-sm-display-inline1>.wr-width2,  .wr-sm-display-inlineR .wr-width2  { width: 2%;   }
.wr-sm-width-per3, .wr-sm-display-inline1>.wr-width3,  .wr-sm-display-inlineR .wr-width3  { width: 3%;   }
.wr-sm-width-per4, .wr-sm-display-inline1>.wr-width4,  .wr-sm-display-inlineR .wr-width4  { width: 4%;   }
.wr-sm-width-per5, .wr-sm-display-inline1>.wr-width5,  .wr-sm-display-inlineR .wr-width5  { width: 5%;   }
.wr-sm-width-per6, .wr-sm-display-inline1>.wr-width6,  .wr-sm-display-inlineR .wr-width6  { width: 6%;   }
.wr-sm-width-per7, .wr-sm-display-inline1>.wr-width7,  .wr-sm-display-inlineR .wr-width7  { width: 7%;   }
.wr-sm-width-per8, .wr-sm-display-inline1>.wr-width8,  .wr-sm-display-inlineR .wr-width8  { width: 8%;   }
.wr-sm-width-per9, .wr-sm-display-inline1>.wr-width9,  .wr-sm-display-inlineR .wr-width9  { width: 9%;   }
.wr-sm-width-per10, .wr-sm-display-inline1>.wr-width10, .wr-sm-display-inlineR .wr-width10 { width: 10%;  }
.wr-sm-width-per15, .wr-sm-display-inline1>.wr-width15, .wr-sm-display-inlineR .wr-width15 { width: 15%;  }
.wr-sm-width-per20, .wr-sm-display-inline1>.wr-width20, .wr-sm-display-inlineR .wr-width20 { width: 20%;  }
.wr-sm-width-per25, .wr-sm-display-inline1>.wr-width25, .wr-sm-display-inlineR .wr-width25 { width: 25%;  }
.wr-sm-width-per30, .wr-sm-display-inline1>.wr-width30, .wr-sm-display-inlineR .wr-width30 { width: 30%;  }
.wr-sm-width-per35, .wr-sm-display-inline1>.wr-width35, .wr-sm-display-inlineR .wr-width35 { width: 35%;  }
.wr-sm-width-per40, .wr-sm-display-inline1>.wr-width40, .wr-sm-display-inlineR .wr-width40 { width: 40%;  }
.wr-sm-width-per45, .wr-sm-display-inline1>.wr-width45, .wr-sm-display-inlineR .wr-width45 { width: 45%;  }
.wr-sm-width-per50, .wr-sm-display-inline1>.wr-width50, .wr-sm-display-inlineR .wr-width50 { width: 50%;  }
.wr-sm-width-per55, .wr-sm-display-inline1>.wr-width55, .wr-sm-display-inlineR .wr-width55 { width: 55%;  }
.wr-sm-width-per60, .wr-sm-display-inline1>.wr-width60, .wr-sm-display-inlineR .wr-width60 { width: 60%;  }
.wr-sm-width-per65, .wr-sm-display-inline1>.wr-width65, .wr-sm-display-inlineR .wr-width65 { width: 65%;  }
.wr-sm-width-per70, .wr-sm-display-inline1>.wr-width70, .wr-sm-display-inlineR .wr-width70 { width: 70%;  }
.wr-sm-width-per75, .wr-sm-display-inline1>.wr-width75, .wr-sm-display-inlineR .wr-width75 { width: 75%;  }
.wr-sm-width-per80, .wr-sm-display-inline1>.wr-width80, .wr-sm-display-inlineR .wr-width80 { width: 80%;  }
.wr-sm-width-per85, .wr-sm-display-inline1>.wr-width85, .wr-sm-display-inlineR .wr-width85 { width: 85%;  }
.wr-sm-width-per90, .wr-sm-display-inline1>.wr-width90, .wr-sm-display-inlineR .wr-width90 { width: 90%;  }
.wr-sm-width-per95, .wr-sm-display-inline1>.wr-width95, .wr-sm-display-inlineR .wr-width95 { width: 95%;  }
.wr-sm-width-per,   .wr-sm-display-inline1>.wr-width,   .wr-sm-display-inlineR .wr-width   { width: 100%; }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(1), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(1) ~ * { width: 100%;            }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(2), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(2) ~ * { width: 50%;             }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(3), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(3) ~ * { width: calc(100% / 3);  }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(4), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(4) ~ * { width: 25%;             }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(5), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(5) ~ * { width: 20%;             }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(6), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(6) ~ * { width: calc(100% / 6);  }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(7), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(7) ~ * { width: calc(100% / 7);  }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(8), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(8) ~ * { width: 12.5%;           }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(9), .wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(9) ~ * { width: calc(100% / 9);  }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(10),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(10)~ * { width: 10%;             }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(11),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(11)~ * { width: calc(100% / 11); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(12),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(12)~ * { width: calc(100% / 12); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(13),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(13)~ * { width: calc(100% / 13); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(14),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(14)~ * { width: calc(100% / 14); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(15),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(15)~ * { width: calc(100% / 15); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(16),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(16)~ * { width: 6.25%;           }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(17),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(17)~ * { width: calc(100% / 17); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(18),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(18)~ * { width: calc(100% / 18); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(19),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(19)~ * { width: calc(100% / 19); }
.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(20),.wr-sm-display-inline1.wr-widthauto>*:first-child:nth-last-child(20)~ * { width: 5%;              }
.wr-sm-left   { margin-right: 100%; } .wr-sm-center   { margin-left: 50%;   margin-right: 50%;   } .wr-sm-right   { margin-left: 100%; }
.wr-sm-left1  { margin-right: 99%;  } .wr-sm-center1  { margin-left: 49.5%; margin-right: 49.5%; } .wr-sm-right1  { margin-left: 99%;  }
.wr-sm-left2  { margin-right: 98%;  } .wr-sm-center2  { margin-left: 49%;   margin-right: 49%;   } .wr-sm-right2  { margin-left: 98%;  }
.wr-sm-left3  { margin-right: 97%;  } .wr-sm-center3  { margin-left: 48.5%; margin-right: 48.5%; } .wr-sm-right3  { margin-left: 97%;  }
.wr-sm-left4  { margin-right: 96%;  } .wr-sm-center4  { margin-left: 48%;   margin-right: 48%;   } .wr-sm-right4  { margin-left: 96%;  }
.wr-sm-left5  { margin-right: 95%;  } .wr-sm-center5  { margin-left: 47.5%; margin-right: 47.5%; } .wr-sm-right5  { margin-left: 95%;  }
.wr-sm-left6  { margin-right: 94%;  } .wr-sm-center6  { margin-left: 47%;   margin-right: 47%;   } .wr-sm-right6  { margin-left: 94%;  }
.wr-sm-left7  { margin-right: 93%;  } .wr-sm-center7  { margin-left: 46.5%; margin-right: 46.5%; } .wr-sm-right7  { margin-left: 93%;  }
.wr-sm-left8  { margin-right: 92%;  } .wr-sm-center8  { margin-left: 46%;   margin-right: 46%;   } .wr-sm-right8  { margin-left: 92%;  }
.wr-sm-left9  { margin-right: 91%;  } .wr-sm-center9  { margin-left: 45.5%; margin-right: 45.5%; } .wr-sm-right9  { margin-left: 91%;  }
.wr-sm-left10 { margin-right: 90%;  } .wr-sm-center10 { margin-left: 45%;   margin-right: 45%;   } .wr-sm-right10 { margin-left: 90%;  }
.wr-sm-left11 { margin-right: 89%;  } .wr-sm-center11 { margin-left: 44.5%; margin-right: 44.5%; } .wr-sm-right11 { margin-left: 89%;  }
.wr-sm-left12 { margin-right: 88%;  } .wr-sm-center12 { margin-left: 44%;   margin-right: 44%;   } .wr-sm-right12 { margin-left: 88%;  }
.wr-sm-left13 { margin-right: 87%;  } .wr-sm-center13 { margin-left: 43.5%; margin-right: 43.5%; } .wr-sm-right13 { margin-left: 87%;  }
.wr-sm-left14 { margin-right: 86%;  } .wr-sm-center14 { margin-left: 43%;   margin-right: 43%;   } .wr-sm-right14 { margin-left: 86%;  }
.wr-sm-left15 { margin-right: 85%;  } .wr-sm-center15 { margin-left: 42.5%; margin-right: 42.5%; } .wr-sm-right15 { margin-left: 85%;  }
.wr-sm-left20 { margin-right: 80%;  } .wr-sm-center20 { margin-left: 40%;   margin-right: 40%;   } .wr-sm-right20 { margin-left: 80%;  }
.wr-sm-left25 { margin-right: 75%;  } .wr-sm-center25 { margin-left: 37.5%; margin-right: 37.5%; } .wr-sm-right25 { margin-left: 75%;  }
.wr-sm-left30 { margin-right: 70%;  } .wr-sm-center30 { margin-left: 35%;   margin-right: 35%;   } .wr-sm-right30 { margin-left: 70%;  }
.wr-sm-left35 { margin-right: 65%;  } .wr-sm-center35 { margin-left: 32.5%; margin-right: 32.5%; } .wr-sm-right35 { margin-left: 65%;  }
.wr-sm-left40 { margin-right: 60%;  } .wr-sm-center40 { margin-left: 30%;   margin-right: 30%;   } .wr-sm-right40 { margin-left: 60%;  }
.wr-sm-left45 { margin-right: 55%;  } .wr-sm-center45 { margin-left: 27.5%; margin-right: 27.5%; } .wr-sm-right45 { margin-left: 55%;  }
.wr-sm-left50 { margin-right: 50%;  } .wr-sm-center50 { margin-left: 25%;   margin-right: 25%;   } .wr-sm-right50 { margin-left: 50%;  }
.wr-sm-left55 { margin-right: 45%;  } .wr-sm-center55 { margin-left: 22.5%; margin-right: 22.5%; } .wr-sm-right55 { margin-left: 45%;  }
.wr-sm-left60 { margin-right: 40%;  } .wr-sm-center60 { margin-left: 20%;   margin-right: 20%;   } .wr-sm-right60 { margin-left: 40%;  }
.wr-sm-left65 { margin-right: 35%;  } .wr-sm-center65 { margin-left: 17.5%; margin-right: 17.5%; } .wr-sm-right65 { margin-left: 35%;  }
.wr-sm-left70 { margin-right: 30%;  } .wr-sm-center70 { margin-left: 15%;   margin-right: 15%;   } .wr-sm-right70 { margin-left: 30%;  }
.wr-sm-left75 { margin-right: 25%;  } .wr-sm-center75 { margin-left: 12.5%; margin-right: 12.5%; } .wr-sm-right75 { margin-left: 25%;  }
.wr-sm-left80 { margin-right: 20%;  } .wr-sm-center80 { margin-left: 10%;   margin-right: 10%;   } .wr-sm-right80 { margin-left: 20%;  }
.wr-sm-left85 { margin-right: 15%;  } .wr-sm-center85 { margin-left: 7.5%;  margin-right: 7.5%;  } .wr-sm-right85 { margin-left: 15%;  }
.wr-sm-left90 { margin-right: 10%;  } .wr-sm-center90 { margin-left: 5%;    margin-right: 5%;    } .wr-sm-right90 { margin-left: 10%;  }
.wr-sm-left95 { margin-right: 5%;   } .wr-sm-center95 { margin-left: 2.5%;  margin-right: 2.5%;  } .wr-sm-right95 { margin-left: 5%;   }
input[type="checkbox"].wr-sm-discover:not(:checked) ~ * { display: none; }
.wr-sm-position-fixed { position: fixed; }
.wr-sm-barfull-top    { position: fixed; width: 100%; top: 0;    }
.wr-sm-barfull-bottom { position: fixed; width: 100%; bottom: 0; }
.wr-sm-baraside-right { position: fixed; height: 100%; right: 0; }
.wr-sm-baraside-left  { position: fixed; height: 100%; left: 0;  }
.wr-sm-txt-left,   .wr-sm-txt-leftR *,   .wr-sm-txt-left1 > *   { text-align: left;   }
.wr-sm-txt-center, .wr-sm-txt-centerR *, .wr-sm-txt-center1 > * { text-align: center; }
.wr-sm-txt-right,  .wr-sm-txt-rightR *,  .wr-sm-txt-right1 > *  { text-align: right;  }
}

/*,ad8888ba,                      88                                           
 d8"'    `"8b                     88                          ,d               
d8'                               88                          88               
88            ,adPPYYba,  ,adPPYb,88  ,adPPYb,d8  ,adPPYba, MM88MMM ,adPPYba,  
88      88888 ""     `Y8 a8"    `Y88 a8"    `Y88 a8P_____88   88    I8[    ""  
Y8,        88 ,adPPPPP88 8b       88 8b       88 8PP"""""""   88     `"Y8ba,   
 Y8a.    .a88 88,    ,88 "8a,   ,d88 "8a,   ,d88 "8b,   ,aa   88,   aa    ]8I  
  `"Y88888P"  `"8bbdP"Y8  `"8bbdP"Y8  `"YbbdP"Y8  `"Ybbd8"'   "Y888 `"YbbdP"'  
                                      aa,    ,88                               
                                       "Y8bbd*/

/* Streak */
.wr-streak>* { margin-left: 79%; display: block; width: 20%; text-align: right; }
.wr-streak>*:first-of-type:nth-last-child(1), .wr-streak>*:first-of-type:nth-last-child(1) ~ * { height: 100%;           }
.wr-streak>*:first-of-type:nth-last-child(3), .wr-streak>*:first-of-type:nth-last-child(3) ~ * { height: calc(100% / 3); }
.wr-streak>*:first-of-type:nth-last-child(5), .wr-streak>*:first-of-type:nth-last-child(5) ~ * { height: 20%;            }
.wr-streak>*:first-of-type:nth-last-child(7), .wr-streak>*:first-of-type:nth-last-child(7) ~ * { height: calc(100% / 7); }
.wr-streak>*:first-of-type:nth-last-child(9), .wr-streak>*:first-of-type:nth-last-child(9) ~ * { height: calc(100% / 9); }

/* Tabs */
.wr-tabs>.wr-tabcontent>*                                            { display: none;    }
.wr-tabs>input[type=radio].wr-tab                                    { display: none;    }
.wr-tabs>input:nth-child(1):checked ~ .wr-tabcontent>*:nth-child(1)  { display: initial; }
.wr-tabs>input:nth-child(2):checked ~ .wr-tabcontent>*:nth-child(2)  { display: initial; }
.wr-tabs>input:nth-child(3):checked ~ .wr-tabcontent>*:nth-child(3)  { display: initial; }
.wr-tabs>input:nth-child(4):checked ~ .wr-tabcontent>*:nth-child(4)  { display: initial; }
.wr-tabs>input:nth-child(5):checked ~ .wr-tabcontent>*:nth-child(5)  { display: initial; }
.wr-tabs>input:nth-child(6):checked ~ .wr-tabcontent>*:nth-child(6)  { display: initial; }
.wr-tabs>input:nth-child(7):checked ~ .wr-tabcontent>*:nth-child(7)  { display: initial; }
.wr-tabs>input:nth-child(8):checked ~ .wr-tabcontent>*:nth-child(8)  { display: initial; }
.wr-tabs>input:nth-child(9):checked ~ .wr-tabcontent>*:nth-child(9)  { display: initial; }
.wr-tabs>input:nth-child(10):checked ~.wr-tabcontent>*:nth-child(10) { display: initial; }

/* Scroll auto */
*[class*='wr-scroll'] { overflow-y: scroll; }